.App-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style-type: none;
    font-weight: 700;
}

.li{
    padding: 10px;
    display: inline;
    text-align: right;
}

.li:hover{
    font-weight: bold;
}